
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBDK.cshtml";
}
<h2>Ban Đăng Kiểm</h2>
@Html.ActionLink("Quản lý Đợt Thi", "DT")
@Html.ActionLink("Quản lý Giải Thưởng", "GT")
@Html.ActionLink("Quản lý Vòng Thi", "VT")
