
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBVD.cshtml";
}

<h2>Ban Vận Động</h2>
@Html.ActionLink("Quản lý Nhà tài trợ", "NTT")
@Html.ActionLink("Quản lý chi tiết đợt thi - nhà tài trợ", "CTDT")
