@model IEnumerable<WebQLCTTHTH.Models.ThiSinh>
@{
    ViewBag.Title = "DanhSachThiSinh";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Noto+Sans:700" rel="stylesheet">

<h2 style="text-align:center;font-weight:900;text-transform:uppercase;font-family: 'Noto Sans', sans-serif;font-size:40px">Thí Sinh</h2>
<hr />
<div class="container-fluid">
    <div class="row">
        @foreach (var thisinh in Model)
            {
            <div class="col-lg-3 col-lg-3  col-lg-3 col-lg-3">
                <div class="thumbnail">
                    <a href="@Url.Action("ChiTietThiSinh","QLCTTHTH", new { id=thisinh.MaTS})">
                        <img alt="@thisinh.HoTenTS" src="~/Images/@thisinh.HinhTS" style="width:200px;height:150px" />
                    </a>
                </div>
                <div>
                    <br />
                    <h4 style="text-align:center">@thisinh.HoTenTS</h4>
                    <p></p>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<br />
<br />

