
@{
    ViewBag.Title = "TheLeThi";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:700" rel="stylesheet">

<h2 style="text-align:center;font-weight:900;text-transform:uppercase;font-family: 'Noto Sans', sans-serif;font-size:40px">Thể lệ thi và cơ cấu giải thưởng</h2>
<div class="container" style="text-align:justify;font-family:sans-serif;color:black">
    <h3 style="font-family:sans-serif;font-size:120%">1.Thí Sinh</h3>
    <ul>
        <li>
            <p>
                Giọng Hát Việt không dành cho những ai không có tài năng nhưng lại muốn trở thành ca sĩ. Chỉ những người xuất sắc nhất trong những người xuất sắc mới có cơ hội trình diễn trong chương trình. Các thí sinh chỉ có thể hát “tốt một chút” thôi chưa đủ.
            </p>
        </li>
        <li>
            <p>
                Bất cứ thí sinh nào (từ 16 đến 55 tuổi) những người dự thi bằng chính khả năng thực thụ của họ đều được hoan ngênh. Và nếu họ có thể chuẩn bị phần nhạc đệm như ghita, piano hay bất cứ loại nhạc cụ nào đều được khuyến khích.
            </p>
        </li>
        <li>
            <p>
                Thí sinh có thể dự thi theo kiểu đơn ca hoặc song ca tùy ý. Nhưng đối với thí sinh thi song ca, thì chưa chắc là cả 2 đều được chọn cùng nhau. Có thể chỉ một trong hai người là đối tượng mà giám khảo đang tìm kiếm, đó là một trong những điều mà các cặp song ca cần lưu ý.
            </p>
        </li>
    </ul>
    <h3 style="font-family:sans-serif;font-size:120%">2.Ban Giám Khảo </h3>
    <ul>
        <li>
            <p>
                Bốn người nghệ sĩ/ ca sĩ cực kì nổi tiếng và thành công sẽ cạnh tranh với nhau trong vòng thi đối đầu để tìm ra ngôi sao ca nhạc lớn.

            </p>
        </li>
        <li>
            <p>
                Với 4 nghệ sĩ đảm đương vai trò quan trọng trong chương trình này và thực tế là chất lượng được coi là tiêu chí hàng đầu, sự tín nhiệm và hợp tác từ lĩnh vực âm nhạc là rất lớn.
            </p>
        </li>
        <li>
            <p>
                Để hỗ trợ cho các thí sinh một cách tốt nhất, mỗi huấn luyện viên đều có thể có thêm một chuyên gia hỗ trợ, các chuyên gia này sẽ cùng huấn luyện viên giúp các thí sinh tiến bộ qua các vòng thi, và định hướng tìm ra người xuất sắc nhất
            </p>
        </li>

    </ul>
    <h3 style="font-family:sans-serif;font-size:120%">3.Cách Thức Bình Chọn</h3>
    <ul>
        <li>
            <p>Hình thức bình chọn sẽ được bắt đầu từ đêm đầu tiên của vòng biểu diễn trực tiếp. Tổng đài bình chọn của chương trình sẽ được mở vào 15 phút cuối cùng của mỗi đêm diễn, các khán giả có thể nhắn tin (số lượng tin nhắn không giới hạn)  theo một cú pháp mặc định đến tổng đài để bình chọn cho thí sinh mình yêu thích để giúp thí sinh đó có cơ hội được bước tiếp vào những vòng sau.</p>
        </li>
    </ul>
    <h3 style="font-family:sans-serif;font-size:120%">4. Giải Thưởng</h3>
    <p>
        Giọng Hát Việt không chỉ là một sân chơi để  những tài năng âm nhạc có cơ hội tỏa sáng mà còn mang lại cho các thí sinh thắng cuộc những giải thưởng giá trị.
        <br />
        <br />

        Giải nhất: 500.000.000 VNĐ
        <br />
        <br />

        Giải đồng hạng (Dành cho 3 thí sinh còn lại tại đêm chung kết): 50.000.000 VNĐ
        <br />
        <br />
        Ngoài giải thưởng tiền mặt thì người thắng cuộc còn được ban tổ chức thực hiện riêng một Album Single cùng 1 MV đi kèm. Không những vậy 7 thí sinh còn lại đã lọt vào Top 8 (các thí sinh được tham gia vào vòng bán kết) cũng sẽ được thực hiện riêng một MV cho những bài hát do chính họ lựa chọn.
    </p>
</div>

